<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bms.mapper.bms.BmsMapper">

    <update id="insertBms2" parameterType="com.bms.pojo.BicycleMainProperties">
         UPDATE bicid SET BicycleId =#{BicycleId} where BicycleName='bick1'
    </update>

    <insert id="insertBms" parameterType="com.bms.pojo.BmsProperties">
        insert into ebick.bicmain (BicycleId,Temperature,ElectricQuantity,Light,dateTime)
        values(#{BicycleId,jdbcType=VARCHAR},#{Temperature,jdbcType=VARCHAR},
               #{ElectricQuantity,jdbcType=VARCHAR},#{Light,jdbcType=VARCHAR},#{dateTime,jdbcType=VARCHAR})
    </insert>




    <select id="getAllBms" resultType="com.bms.pojo.BmsProperties" parameterType="java.lang.String">
        select BicycleId,Temperature,ElectricQuantity,Light,dateTime from ebick.bicmain
        where BicycleId="7A80BCDE74FB"
        ORDER BY dateTime

        <if test="BicycleId != null and BicycleId !='' ">
            and BicycleId LIKE CONCAT('%',#{BicycleId},'%')
        </if>
        <if test="dateTime != null and dateTime !='' ">
            and dateTime LIKE CONCAT('%',#{dateTime},'%')
        </if>
    </select>

    <select id="getAllBms1" resultType="com.bms.pojo.BmsProperties" parameterType="java.lang.String">
        select BicycleId,Temperature,ElectricQuantity,Light,dateTime  from ebick.bicmain
        where BicycleId=2
        <if test="BicycleId != null and BicycleId !='' ">
            and BicycleId LIKE CONCAT('%',#{BicycleId},'%')
        </if>
        <if test="dateTime != null and dateTime !='' ">
            and dateTime LIKE CONCAT('%',#{dateTime},'%')
        </if>
    </select>

    <select id="getAllBms2" resultType="com.bms.pojo.BmsProperties" parameterType="java.lang.String">
        select BicycleId,Temperature,ElectricQuantity,Light,dateTime   from ebick.bicmain

        <if test="BicycleId != null and BicycleId !='' ">
            and BicycleId LIKE CONCAT('%',#{BicycleId},'%')
        </if>
        <if test="dateTime != null and dateTime !='' ">
            and dateTime LIKE CONCAT('%',#{dateTime},'%')
        </if>
    </select>

    <select id="queryAllBms" resultType="com.bms.pojo.BmsProperties" parameterType="java.lang.String">
        select BicycleId,Temperature,ElectricQuantity,Light  from ebick.bicmain
        where 1=1
    </select>

    <select id="selectLast" resultType="com.bms.pojo.BmsProperties">
        select ElectricQuantity,Temperature,dateTime
        FROM ebick.bicmain
        WHERE dateTime IN
              (select max(dateTime)
               from ebick.bicmain
              ) AND BicycleId="7A80BCDE74FB"
    </select>

    <select id="selectLast1" resultType="com.bms.pojo.BmsProperties">
        select ElectricQuantity,Temperature,dateTime
        FROM ebick.bicmain
        WHERE dateTime IN
              (select max(dateTime)
               from ebick.bicmain
              ) AND BicycleId=2
    </select>

    <select id="selectLast2" resultType="com.bms.pojo.BmsProperties">
        select ElectricQuantity from ebick.bicmain
        where BicycleId=2 and way=(select max(way) from ebick.bicmain)
    </select>

    <select id="getDataByTime" resultType="com.bms.pojo.BmsProperties" parameterType="java.lang.String">
        SELECT Temperature,ElectricQuantity,Light,dateTime
        FROM ebick.bicmain
        WHERE dateTime BETWEEN '2022-10-02 21:30:15' AND '2022-10-02 22:18:26'
    </select>

</mapper>
