<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
<link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}" media="all"/>
<style>
  /* 覆盖原框架样式 */
  .layui-elem-quote{background-color: inherit!important;}
  .layui-input, .layui-select, .layui-textarea{background-color: inherit; padding-left: 30px;}
</style>

<meta charset="UTF-8">


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="header" style="background: #0a53be">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#" style="background:whitesmoke;color: #000000">用户ID：[[${session.login_name}]]</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Searching" aria-label="Searching" style="background:whitesmoke;color: #a8a7a7">
  <div class="navbar-nav" style="background:#ececec;" >
    <div class="nav-item text-nowrap">
      <a class="btn btn-outline-secondary font-family:'Times New Roman'" th:href="@{/exit}" >EXIT</a>
    </div>
  </div>
</header>




<!--侧边栏-->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="nav" style="background: #0C9A9A">
  <div class="position-sticky pt-3">

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary"  aria-current="Add a new report" th:href="@{/homepage}">
        <span style="font-size: 28px;color: #000000">一机控制界面</span>
      </a>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary" th:href="@{/Mqtt/toRemote}" aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">二机控制界面</span>
      </a>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary" th:href="@{/Bms/toBmsindex}" aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">电池数据界面</span>
      </a>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary"  th:href="@{/Bms/toBms2}" aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">车辆数据界面</span>
      </a>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary" th:href="@{/Bms/toEmq}"aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">硬件状态界面</span>
      </a>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary" th:href="@{/Bms/toHistoryData}"aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">历史数据查询</span>
      </a>
    </h6>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <a class="link-secondary" th:href="@{/User/toUserindex}"aria-label="Add a new report">
        <span style="font-size: 28px;color: #000000">用户管理界面</span>
      </a>
    </h6>



  </div>
</nav>




</html>
